<h1>Footer View</h1>

{{#each footerRight}}
<p>{{link1}}</p>
<p>{{link2}}</p>
<p>{{link3}}</p>
<a href="/admin/footerInfo/delete/{{id}}"><button type="button" class="btn btn-danger">O`chirish</button></a>
<a href="/admin/footerInfo/edit/{{id}}"><button type="button" class="btn btn-primary">O`zgartirish</button></a>

{{/each}}