<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-black nav2">
        <div class="container">
            {{#each navInfo}}
            <img src="/images/{{img}}" alt="{{img}}" width="200" height="67">
            <p class="navTitle">{{navtitle}}</p>
            {{/each}}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/" style="margin-left: 15px;">Bosh
                            sahifa</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="margin-left: 15px;" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ma'lumotlar
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{#each category}}
                            <li><a class="dropdown-item" href="/view/{{id}}">{{categoryName}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="margin-left: 15px;" href="https://changeit.uz" tabindex="-1"
                            aria-disabled="true">Biz haqimizda</a>
                    </li>
                </ul>
            </div>
            {{#if searchInput}}
            <div class="col-4">
                <form class="d-flex search_form">
                    <input type="text" name="" id="" class="form-control search_input" onkeyup='sendData(this)'>
                    <div id="searchResults"></div>
                </form>
            </div>
            {{/if}}
        </div>
    </nav>
</header>


<script>
    function sendData(e) {
        const searchResults = document.getElementById("searchResults");
        let match = e.value.match(/^[a-zA-Z]*/);
        let match2 = e.value.match(/\s*/);
        if (match2[0] === e.value) {
            searchResults.innerHTML = "";
            return;
        }
        if (match[0] === e.value) {
            fetch("getUsers", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    payload: e.value
                }),
            })
                .then((res) => res.json())
                .then((data) => {
                    let payload = data.payload;
                    searchResults.innerHTML = "";
                    if (payload.length < 1) {
                        searchResults.innerHTML =
                            "<p>Teg mavjud emas</p>";
                        return;
                    }

                    payload.forEach((item, index) => {
                        if (index > 0) searchResults.innerHTML += "<hr>";
                        searchResults.innerHTML += `<a href='/read/${item._id}'> ${item.productName}</a>`;
                    });
                });
            return;
        }
        searchResults.innerHTML = "";
    }

</script>